.challenge {
  font-family: $font-primary;

  .challengeTab {
    &__header {
      // @include u-flex($jc: center);
      display: flex;
      justify-content: center;
      gap: 10px;

      @media (max-width: 1440px) {
        gap: 1.6vw;
      }

      @media (max-width: 800px) {
        flex-direction: column;
        padding: 0 4vw;
        margin-bottom: 20px;
      }
    }

    &__headItem {
      border-top: 8px solid transparent;
      padding: 10px;
      color: $color-blue02;
      cursor: pointer;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;

      @media (max-width: 1440px) {
        padding: 6.5px;
        border-top: 4px solid transparent;
      }

      @media (max-width: 800px) {
        padding: 0;
        border: none;
      }



      &.selected {
        border-top: 8px solid $color-blue02;
        background-color: $color-gray;
        border-left: 1px solid $color-border-gray;
        border-right: 1px solid $color-border-gray;
        border-radius: 4px 4px 0 0;
        position: relative;

        @media (max-width: 1440px) {
          border-top: 4px solid $color-blue02;
        }

        @media (max-width: 800px) {
          padding: 0;
          // border: 0.8vw solid #0C074C ;1
          border: none;
          ;

          .challengeTab__headItemWrap {
            box-shadow: inset 0px 0px 0px 3px #0c074c4d;
          }
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 5px;
          background-color: $color-gray;
          bottom: -1px;
          display: block;
          left: 50%;
          transform: translateX(-50%);

          @media (max-width: 800px) {
            content: none;
          }
        }

        .challengeTab__headItemWrap {
          filter: grayscale(0);
        }
      }

      &:nth-of-type(1) {
        .challengeTab__headItemWrap {

          background: url(./assets/images/challenge/challenge_tabHead-01.png) no-repeat center center / contain;

          @media (max-width: 1440px) {
            background: url(./assets/images/challenge/challenge_tabHead-01_sp.png) no-repeat center center / contain;
          }
        }

        .challengeTab__headItemWrap.spLay {
          background: url(./assets/images/challenge/challenge_tabHead-01_spLay.png) no-repeat center center / contain !important;
        }

      }

      &:nth-of-type(2) {
        .challengeTab__headItemWrap {

          background: url(./assets/images/challenge/challenge_tabHead-02.png) no-repeat center center / contain;

          @media (max-width: 1440px) {
            background: url(./assets/images/challenge/challenge_tabHead-02_sp.png) no-repeat center center / contain;
          }
        }

        .challengeTab__headItemWrap.spLay {
          background: url(./assets/images/challenge/challenge_tabHead-02_spLay.png) no-repeat center center / contain !important;
        }
      }

      &:nth-of-type(3) {
        .challengeTab__headItemWrap {

          background: url(./assets/images/challenge/challenge_tabHead-03.png) no-repeat center center / contain;

          @media (max-width: 1440px) {
            background: url(./assets/images/challenge/challenge_tabHead-03_sp.png) no-repeat center center / contain;
          }
        }

        .challengeTab__headItemWrap.spLay {
          background: url(./assets/images/challenge/challenge_tabHead-03_spLay.png) no-repeat center center / contain !important;
        }
      }
    }

    &__headItemWrap {
      padding: 30px;
      width: 440px;
      height: 264px;
      filter: grayscale(100%);
      transition: filter 300ms ease;
      // @include u-flex($fd: column, $ai: start);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 1440px) {
        padding: 12px 10px;
        width: 240px;
        height: 142px;
      }

      &:hover {
        filter: grayscale(0);
      }

      &.pcLay {
        @media (max-width: 800px) {
          display: none;
          padding: 2.66vw 4.26vw;
        }
      }

      &.spLay {
        display: none;

        @media (max-width: 800px) {
          display: flex;
          padding: 2.6vw 4.2vw;
        }

        width: 100%;
        height: 25.06vw;
      }
    }

    &__headTxtWrap {
      // @include u-flex($fd: column);
      display: flex;
      flex-direction: column;
    }

    &__headTitle {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1.8;
      margin-bottom: 9px;
      color: $color-blue02;

      @media (max-width: 1440px) {
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 2.1;
        margin-bottom: 6px;
      }

      @media (max-width: 800px) {
        font-size: 3.2vw;
        letter-spacing: 0.1em;
        line-height: 1.85;
        margin-bottom: 1vw;

        .big {
          font-size: 4.8vw;
          line-height: 0;
        }
      }

    }

    &__headChallengeTxt {
      font-size: 28px;
      letter-spacing: 0.2em;
      line-height: 1;
      margin-bottom: 16px;
      // @include u-flex($ai: center);
      display: flex;
      align-items: center;

      @media (max-width: 1440px) {
        font-size: 18px;
        letter-spacing: 0.2em;
        line-height: 1;
        margin-bottom: 10px;
      }


      &::before {
        content: '';
        display: inline-block;
        background-color: $color-blue02;
        height: 1px;
        width: auto;
        margin-right: 15px;
        flex: 1;

        @media (max-width: 1440px) {
          margin-right: 10px;
        }
      }


    }

    &__headItemTxt {
      font-size: 14px;
      line-height: 1.7;

      @media (max-width: 1440px) {
        font-size: 12px;
        line-height: 1.5;
        width: 15rem;
      }

      @media (max-width: 800px) {
        font-size: 12px;
        line-height: 1.5;
        font-size: 3.2vw;
        width: 100%;
      }

      .pcLay {
        display: block;

        @media (max-width: 1440px) {
          display: none;
        }
      }

      .spLay {
        display: none;

        @media (max-width: 1440px) {
          display: block;
        }


      }
    }



    // tab content

    &__content {
      padding: 80px 15px;
      // margin: 0 0 80px 0;
      background-color: $color-gray;
      border-top: 1px solid $color-border-gray;

      @media (max-width: 800px) {
        padding: 60px 15px;
      }
    }

    &__contentItem {
      max-width: 990px;
      margin: 0 auto;
      display: none;

      &.selected {
        display: block;
      }
    }

    &__txtGrp {
      margin-bottom: 70px;

      @media (max-width: 800px) {
        margin-bottom: 50px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__contentTitle {
      font-size: 30px;
      line-height: 1.8;
      margin-bottom: 20px;
      color: $color-blue02;
      font-weight: normal;


      @media (max-width: 800px) {
        font-size: 24px;
      }
    }

    &__contentTxt {
      font-size: 16px;
      line-height: 1.8;
      margin: 0;
    }

    &__imgWrap {
      // @include u-flex ($jc: space-between, $fw: wrap);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      gap: 30px;

      @media (max-width: 800px) {
        flex-direction: column;
      }
    }

    &__imgWrap02 {
      // @include u-flex ($jc: space-between, $ai: flex-end, $fw: wrap);
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-top: 20px;
      gap: 20px;

      .img01 {
        width: 442px;
        height: auto;

        @media (max-width: 800px) {
          width: 100%;
          height: auto;
        }
      }

      .img02 {
        width: 506px;
        height: 285px;
        @media (max-width: 800px) {
          width: 100%;
          height: auto;
        }
      }
    }

    &__contentFeatFig {
      // @include u-flex($fd: column);
      display: flex;
      flex-direction: column;

      &.fig-02 {
        img {
          height: 452px;
          width: auto;


          @media (max-width: 800px) {
            height: auto;
            width: 100%;
          }
        }
      }

      .caption {
        font-size: 16px;
        line-height: 1.8;
        margin-top: 12px;
      }
    }

    &__olist {
      font-size: 16px;
      line-height: 1.8;
      margin: 0;
      padding-left: 20px;

      li {
        margin-top: 8px;
      }
    }
  }

  .article {
    margin-top: 70px;
    padding-right: 15px;
    max-height: 998px;
    overflow-y: auto;

    @media (max-width: 800px) {
      width: calc(100% + 9px);
      padding-right: 9px;
      margin-top: 30px;
    }



    @media (min-width: 801px) {

      scrollbar-width: thin;
      scrollbar-color: #D9D9D9 $color-white;

      &::-webkit-scrollbar {
        width: 12px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $color-white;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #D9D9D9;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }





    &__item {
      display: grid;
      grid-template-columns: auto 1fr;

      &:hover .article__img {
        filter: grayscale(0);
      }
    }

    .article__item+.article__item {
      margin-top: 40px;
    }

    &__img {
      grid-row: span 2;
      width: 285px;
      height: 285px;
      margin-right: 25px;
      filter: grayscale(100%);
      transition: filter 400ms ease-in-out;

      @media (max-width: 800px) {
        width: 80px;
        height: 80px;
        margin-right: 8px;
        grid-row: unset;
      }
    }

    &__title {
      color: $color-blue02;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 10px;

      @media (max-width: 800px) {
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 8px;
      }
    }

    &__txt {
      font-size: 16px;
      line-height: 1.8;
      margin: 0;

      // padding-left: 20px;
      @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.6;
      }
    }

    &__boxWrap {
      background-color: #E8EAF2;
      margin-top: 24px;
      padding: 16px 10px;
      border: 1px solid rgba(#373582, 0.3);

      @media (max-width: 800px) {
        grid-column: span 2;
        margin-top: 8px;
        padding: 12 px 8px;
      }
    }

    &__boxWrapTitle {
      color: $color-blue02;
      font-size: 16px;
      line-height: 1.8;
      font-weight: 500;
      margin: 0 0 10px 0;

      // @include u-flex($ai: center);
      display: flex;
      align-items: center;

      @media (max-width: 800px) {
        font-size: 14px;
        line-height: 2.14
      }

      &:before {
        content: '';
        width: 18px;
        height: 17px;
        display: inline-block;
        background: url(./assets/images/challenge/speechBubble_icon.svg) no-repeat center center / contain;
        margin: 0 7px 0 3px;

        @media (max-width: 800px) {
          width: 15px;
          height: 14px;
        }
      }
    }

    &__ul {
      padding-left: 17px;
      position: relative;
      margin: 0;

      li {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 500;

        @media (max-width: 800px) {
          font-size: 12;
          line-height: 1.6;
        }

        &:before {
          content: 'ãƒ»';
          position: absolute;
          left: 6px;
        }



        &::marker {
          content: none;
        }
      }

      li+li {
        margin-top: 4px;
      }
    }
  }

  .extLinkBtn {
    padding: 16px 30px;
    background-color: $color-blue02;
    color: $color-white;
    // @include u-flex($fd: column);
    display: flex;
    flex-direction: column;
    max-width: 380px;
    text-decoration: none;
    position: relative;
    margin-top: 20px;

    @media (max-width: 800px) {
      max-width: 100%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 21px;
      background: url(./assets/images/challenge/arrowRight_icon.svg) no-repeat center center / contain;
      right: 20px;
      top: 20px;
    }

    &.type-light {
      background-color: #E8EDF2;
      border: 1px solid #D6D8E7;
      color: $color-blue02;

      &:after {
        filter: invert(78%) sepia(164%) saturate(228%) hue-rotate(208deg) brightness(83%) contrast(113%)
      }
    }

    &__title {
      font-family: roboto;
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 0.05em;
      line-height: 1.3;

      @media (max-width: 800px) {
        font-size: 22px;
        margin-bottom: 3px;
      }
    }

    &__txt {
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.3em;
      font-weight: 500;

      @media (max-width: 800px) {
        font-size: 12px;
        line-height: 2;
      }
    }
  }

  .u-linkOpacHover {
    transition: opacity 400ms ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .hoverGray{
    filter: grayscale(80%);
    transition: filter 400ms ease-in-out;

    &:hover{
      filter: grayscale(0%);
    }
  }

}

.page-id-1165 .ipBanner::before{
  content: none;
}

