/*******************************************************
 *
 * 9. 404 PAGE
 *
 *******************************************************/
.page-404 {
    margin-top: 5rem;
    min-height: 350px;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        font-size: 6rem;
        font-weight: 100;
        letter-spacing: 0.2em;
        color: orange;
    }
}