/*=====================================================
 Recruit
 ====================================================*/
 .recruit {

 	a {
 		text-decoration: underline;
 		font-size: 1.8rem;
 		color: #373582;
		word-break: break-all;
 	}

 	.list03 {
 		margin-top: 35px;
 	}

 }