@mixin breakpoint($point) {
  //Min-width
  @if $point == sp {
    @media (min-width: $breakpoint-sp) {
      @content ;
    }
  }
  @if $point == pc {
    @media (min-width: $breakpoint-pc) {
      @content ;
    }
  }
  @if $point == pc2 {
    @media (min-width: $breakpoint-pc2) {
      @content ;
    }
  }
  @if $point == pc3 {
    @media (min-width: $breakpoint-pc3) {
      @content ;
    }
  }
  @if $point == pc4 {
    @media (min-width: $breakpoint-pc4) {
      @content ;
    }
  }
  @if $point == pc5 {
    @media (min-width: $breakpoint-pc5) {
      @content ;
    }
  }
}

@mixin browsers($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

@mixin pseudo($pos: absolute, $content: '',$width:'',$height:''){
  content: $content;
  position: $pos;
  width: $width;
  height: $height;
}

@mixin font($family, $size, $weight) {
  font-family: $family;
  @include font-size($size);
  font-weight: $weight;
}

@mixin letter-spacing($px, $val) {
  letter-spacing: ls-px($px, $val);
} 

@mixin transition($val...) {
  transition: $val;
}

// * hack IE
$hack-ie11: "*::-ms-backdrop";
@mixin hack-ie($hack-ver:'') {
    // * IE8 hack
    @if $hack-ver == "ie8" {
        @media \0screen {
            @content;
        }
    }
    // * IE9-10 hack(add propary \9)
    @else if $hack-ver == "ie9-10" {
        @media all and (min-width:0\0) {
            @content;
        }
    }
    // * IE10 hack(add propary \9)
    @else if $hack-ver == "ie10" {
        @media all and (-ms-high-contrast:none\0) {
            @content;
        }
    }
    // * IE11 hack(add selector *::-ms-backdrop)
    @else if $hack-ver == "ie11" {
        @media all and (-ms-high-contrast:none\0) {
            @content;
        }
    }
}
// * hack Edge 12 - 14
@mixin hack-edge {
  @supports (-ms-ime-align: auto) and (not (-webkit-text-stroke: initial)) {
    @content;
  }
}