// Colors
$color-white: #fff;
$color-black: #454545;
$color-blue: #111038;
$color-blue02: #0C074C;
$color-blue03: #7D8BC8;
$color-gray: #F5F5F5;
$color-border-gray: #E6E6E6;

$font-primary: 'Noto Sans Japanese', sans-serif;

// Min width
$breakpoint-sp: 576px;
$breakpoint-pc: 768px;
$breakpoint-pc2: 992px;
$breakpoint-pc3: 1200px;
$breakpoint-pc4: 1280px;
$breakpoint-pc5: 1400px;

